.collection-preview {
   
    display: flex;
   
    flex-direction: column;
    margin-bottom: 30px;
  align-items: center;
    .title {
      font-size: 28px;
      margin-bottom: 25px;
    }
  
    .preview {
      display: flex;
      flex-wrap: wrap;
      max-width: 1400px;
     
      // @media (max-width:1000px){
      //   padding-left: 90px;
      //   padding-right: 90px;

      // }

      @media(min-width:1200px){
       
      }
      @media (max-width:960px){
        // padding-left: 20px;
        // padding-right: 20px;
      }
      @media (max-width:780px){
        padding-left: 10px;
        padding-right: 10px;
        justify-content: space-around;
      }
       @media (max-width:560px){
        padding:0;
        justify-content: center;
      }
      justify-content: space-between;
    }
  }