.cart-dropdown {
  position: absolute;
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;
  @media (max-width: 600px) {
    width: 150px;
    height: 270px;
  }

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    @media (max-width: 600px) {
      width: 170px;
    }
  }

  button {
    margin-top: auto;
  }
}
