.category-page {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

  .title {
    font-size: 38px;
    margin: 0 auto 30px;
  }

  .items {
    //display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

    @media (min-width: 1400px) {
      grid-gap: 30px;
    }
    @media (max-width: 1100px) {
      grid-gap: 10px;
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: 900px) {
      grid-gap: 30px;
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 600px) {
      grid-gap: 30px;
      grid-template-columns: 1fr;
    }

    //modidified
    // border: solid red;
    // display: flex;
    // flex-wrap: nowrap;
    // width: 100%;
    & .collection-item {
      margin-bottom: 30px;
    }
  }
}
