.photo-holder{
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
   margin-left: auto;
   margin-right: auto;
    
  
}

.sign-out-container{
    background-color: rgb(228, 224, 224);
    z-index: 101;
    opacity: 1;
}