.menu-item {
  min-width: 180px;
  height: 240px;
  @media screen and (min-width: 570px) {
    height: 40vh;
    min-width: 30%;
  }
  @media screen and (min-width: 1000px) {
    height: 43vh;
  }
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 7.5px 15px;
  overflow: hidden;
}

/* .hats{
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 0 7.5px 15px;
    position: absolute;
    background-size: cover;
    background-position:center ;
    overflow: hidden;
    background-image: url("https://i.ibb.co/cvpntL1/hats.png");

  }
  .jackets{
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 0 7.5px 15px;
    position: absolute;
    background-size: cover;
    background-position:center ;
    overflow: hidden;
    background-image: url("https://i.ibb.co/px2tCc3/jackets.png");

  }
  .sneakers{
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    position: absolute;
    margin: 0 7.5px 15px;
    overflow: hidden;
    background-size: cover;
    background-position:center ;
    background-image: url("https://i.ibb.co/0jqHpnp/sneakers.png");

  }
  .mens{
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    position: absolute;
    margin: 0 7.5px 15px;
    background-size: cover;
    background-position:center ;
    overflow: hidden;
    background-image: url("https://i.ibb.co/R70vBrQ/men.png");

  }
  .womens{
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: 1px solid black;
    margin: 0 7.5px 15px;
    background-size: cover;
    background-position:center ;
    overflow: hidden;
    background-image: url("https://i.ibb.co/GCCdy8t/womens.png");

  } */
.menu-item:hover {
  cursor: pointer;
}
.background-image:hover {
  transform: scale(1.1);
  transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}

.content {
  opacity: 0.9;
}
.large {
  height: 380px;

  // @media (max-width: 1000px) {
  //   height: 240px !important;
  // }
}

.menu-item:first-child {
  margin-right: 7.5px;
}

.menu-item:last-child {
  margin-left: 7.5px;
}

.background-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.content {
  height: 90px;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: white;
  opacity: 0.7;
  position: absolute;
  @media screen and(max-width: 900px) {
    height: 80px;
    padding: 0 15px;
  }
  @media screen and(max-width: 420px) {
    height: 70px;
    padding: 0 10px;
  }
}

.title {
  font-weight: bold;
  margin: 0 6px 0;
  font-size: 22px;
  color: #4a4a4a;
  @media screen and(max-width: 900px) {
    font-size: 16px;
    margin: 0 4px 0;
  }
  @media screen and(max-width: 420px) {
    font-size: 12px;
    margin: 0 4px 0;
  }
}

.subtitle {
  font-weight: lighter;
  font-size: 16px;
  width: 35%;
  @media screen and(max-width: 900px) {
    font-size: 10px;
  }
  @media screen and(max-width: 420px) {
    font-size: 9px;
    margin: 0 4px 0;
  }
}

@media screen and(min-width: 570px) {
  .large {
    height: 40vh;
  }
}

@media screen and(max-width: 570px) {
  .large {
    height: 240px;
  }
}
